@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@LanguagePack.ErrorTitle</h1>
        <h2>@LanguagePack.ErrorText</h2>
    </hgroup>
</body>
</html>
