@{
    ViewBag.Title = LanguagePack.About;
}
@using LanguagePack = WebClient.Resources.Language_Files.LanguagePack;
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@LanguagePack.AboutPageText</p>
